:root {
  --color-primary: #ff8252;
  --color-primary-light: rgba(255, 130, 82, 0.8);
  --color-primary-lighter: rgba(255, 130, 82, 0.1);
  --color-success: #00af9c;
  --color-success-light: #00af9b;
  --color-success-lighter: #00af9b55;
  --color-pink-white: #e1f2f1;
  --color-white: #fff;
  --color-white-light: #fafafa;
  --color-gray: #b8b9bb33;
  --color-gray-light: #b8b9bb;
  --color-black: #000;
  --color-black-lighter: rgba(0, 0, 0, 0.1);
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* == */

.h-w-20px {
  height: 20px;
  width: 20px;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.form-control {
  border: 2px solid var(--color-primary);
  border-radius: 25px;
}

.btn.focus,
.btn:focus,
.form-control:focus {
  border-color: var(--color-primary);

  box-shadow: 0 0 0 0.2rem var(--color-primary-lighter);
}

/* == */

.bg-gray {
  background-color: var(--color-gray);
}

.im-text-primary {
  color: var(--color-primary);
}

.im-text-success {
  color: var(--color-success);
}

.button-send-icon {
  position: absolute;
  top: 0;
  right: 0;
}

.button-send-icon:focus {
  box-shadow: unset;
  border: unset;
}

button {
  transition: all 0.3s ease;
}

a:hover,
button:hover {
  transform: scale(0.97);
  opacity: 0.8;
  transition: all 0.3s ease;
  color: rgba(255, 130, 82, 0.8) !important;
  text-decoration: none !important;
}

.btn-primary-1 {
  color: var(--color-success);
  background-color: var(--color-pink-white);
}

.btn-primary-1:hover {
  color: var(--color-success) !important;
}

.btn-primary-1:focus {
  color: var(--color-success) !important;
  border-color: var(--color-success-light);
  box-shadow: 0 0 0.3rem 0.1rem var(--color-success-lighter);
}

.btn-four {
  background-color: var(--color-primary-lighter);
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.btn-four.active,
.btn-four:hover,
.btn-four:focus {
  background-color: var(--color-primary);
  color: var(--color-white) !important;
}

.btn-three {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  color: var(--color-white);
}

.btn-three:hover {
  color: var(--color-white) !important;
}

.btn-two {
  background-color: var(--color-primary-lighter);
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.btn-white {
  background-color: var(--color-white);
}

.bg-light {
  background-color: var(--color-dark-light);
}

.custom-size-one {
  height: 50px;
  width: 120px;
}

.badge-warning {
  color: var(--color-primary);
  background-color: var(--color-primary-lighter);
}

/* sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 90%;
  background-color: var(--color-white);
  box-shadow: 0 0 0.3rem var(--color-black-lighter);
  border-top-right-radius: 2.1rem;
}

.btn-sidebar:focus {
  box-shadow: unset;
  border: unset;
}

.btn-sidebar__text,
.btn-sidebar svg {
  color: var(--color-gray-light);
}

.btn-sidebar:hover .btn-sidebar__text,
.btn-sidebar.active .btn-sidebar__text {
  font-weight: bold;
  color: var(--color-black);
}

.btn-sidebar:hover svg,
.btn-sidebar.active svg {
  color: var(--color-primary);
}

.btn-sidebar:hover::after,
.btn-sidebar.active::after {
  width: 4.5px;
  transition: all 0.3s ease;
}

.btn-sidebar::after {
  content: '';
  background-color: var(--color-primary);
  width: 0;
  height: 32px;
  border-top-left-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
  margin: 0 0 0 auto;
  transition: all 0.3s ease;
}

/* footer-bar */

.footer-bar {
  background-color: var(--color-white);
  box-shadow: 0 0 0.3rem var(--color-black-lighter);
  border-top-right-radius: 1.5rem !important;
  border-top-left-radius: 1.5rem !important;
}

.btn-footer-bar {
  color: var(--color-gray-light);
}

.btn-footer-bar:focus {
  box-shadow: unset;
  border: unset;
}

.btn-footer-bar.active,
.btn-footer-bar:hover {
  color: var(--color-primary) !important;
}

.rounded-xl {
  border-radius: 1rem !important;
}

.object-cover {
  object-fit: cover;
  object-position: center;
}

/* CheckBox */

.form-check {
  padding: unset;
}

.form-check-input {
  position: unset;
  margin-top: unset;
  margin-left: unset;
  margin-right: 1rem;
}

/* The checkbox-container */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: var(--color-white);
  box-shadow: 0 0 0 1px var(--color-gray-light);
  border-radius: 0.15rem;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: var(--color-primary);
  box-shadow: 0 0 0 1px var(--color-white);
}

/* When the radio button is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: var(--color-white);
  box-shadow: 0 0 0 1px var(--color-primary);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.checkbox-container .checkmark:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background: var(--color-primary);
}

/* == */

.calendar-container * {
  border-radius: 50px;
  border: 0;
}

.react-calendar__tile--hasActive,
.react-calendar__tile--active {
  background: var(--color-primary);
  color: var(--color-white);
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: var(--color-primary) !important;
}

.react-calendar__tile:enabled:hover abbr,
.react-calendar__tile:enabled:focus abbr {
  color: var(--color-white);
}

/* == */

.ratings-statistic {
  height: 200px;
  width: 22px;
  display: flex;
  justify-content: center;
  position: relative;
}

.ratings-statistic:hover {
  opacity: 0.9;
}

.ratings-statistic .bar {
  display: flex;
  position: absolute;
  background-color: var(--color-primary);
  height: 100%;
  width: 18px;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  z-index: 2;
}

.ratings-statistic .box {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 62px;
  z-index: 10;
  background-color: var(--color-white);
  box-shadow: 0 0 0 1px var(--color-primary-light);
  border-radius: 50px;
  font-size: 13px;
  cursor: pointer;
}

.ratings-star-container {
  height: 200px;
}

.chat-radius-left {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.chat-radius-right {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 0.3rem;
}

@media only screen and (max-width: 991px) {
  .ratings-star-container {
    height: unset;
    width: 90%;
    margin-left: auto;
  }

  .ratings-statistic {
    height: 22px;
    width: 100%;
  }

  .ratings-statistic .bar {
    height: 18px;
    width: 100%;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
  }

  .ratings-statistic .box {
    top: -11%;
  }
}
