@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* == */

.h-w-20px {
  height: 20px;
  width: 20px;
}

.bg-primary {
  background-color: #ff8252 !important;
}

.form-control {
  border: 2px solid #ff8252;
  border-radius: 25px;
}

.btn.focus,
.btn:focus,
.form-control:focus {
  border-color: #ff8252;

  box-shadow: 0 0 0 0.2rem #ff835279;
}

/* == */

.im-text-primary {
  color: #ff8252;
}

button {
  transition: all 0.3s ease;
}

a:hover,
button:hover {
  transform: scale(0.97);
  opacity: 0.8;
  transition: all 0.3s ease;
  color: #ff835298 !important;
  text-decoration: none !important;
}

.btn-primary-1 {
  color: #00af9c;
  background-color: #e1f2f1;
}

.btn-four {
  background-color: rgba(255, 130, 82, 0.1);
  border: 2px solid #ff8252;
  color: #ff8252;
}

.btn-four.active,
.btn-four:hover,
.btn-four:focus {
  background-color: #ff8252;
  color: #fff !important;
}

.btn-three {
  background-color: #ff8252;
  border: 2px solid #ff8252;
  color: #fff;
}

.btn-three:hover {
  color: #fff !important;
}

.btn-two {
  background-color: rgba(255, 130, 82, 0.1);
  border: 2px solid #ff8252;
  color: #ff8252;
}

.btn-white {
  background-color: #fff;
}

.bg-light {
  background-color: #fafafa;
}

.custom-size-one {
  height: 50px;
  width: 120px;
}

/* sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 90%;
  background-color: #fff;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1);
  border-top-right-radius: 2.1rem !important;
}

.btn-sidebar:focus {
  box-shadow: unset;
  border: unset;
}

.btn-sidebar__text,
.btn-sidebar svg {
  color: #b8b9bb;
}

.btn-sidebar:hover .btn-sidebar__text,
.btn-sidebar.active .btn-sidebar__text {
  font-weight: bold;
  color: #000;
}

.btn-sidebar:hover svg,
.btn-sidebar.active svg {
  color: #ff8252;
}

.btn-sidebar:hover::after,
.btn-sidebar.active::after {
  width: 4.5px;
  transition: all 0.3s ease;
}

.btn-sidebar::after {
  content: '';
  background-color: #ff8252;
  width: 0;
  height: 32px;
  border-top-left-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
  margin: 0 0 0 auto;
  transition: all 0.3s ease;
}

/* footer-bar */

.footer-bar {
  background-color: #fff;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1);
  border-top-right-radius: 1.5rem !important;
  border-top-left-radius: 1.5rem !important;
}

.btn-footer-bar {
  color: #b8b9bb;
}

.btn-footer-bar:focus {
  box-shadow: unset;
  border: unset;
}

.btn-footer-bar.active,
.btn-footer-bar:hover {
  color: #ff8252 !important;
}

.rounded-xl {
  border-radius: 1rem !important;
}

.object-cover {
  object-fit: cover;
  object-position: center;
}

/* CheckBox */

.form-check {
  padding: unset;
}

.form-check-input {
  position: unset;
  margin-top: unset;
  margin-left: unset;
  margin-right: 1rem;
}

/* The checkbox-container */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #fff;
  box-shadow: 0 0 0 1px #ccc;
  border-radius: 0.15rem;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ff8252;
  box-shadow: 0 0 0 1px #fff;
}

/* When the radio button is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #fff;
  box-shadow: 0 0 0 1px #ff8252;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.checkbox-container .checkmark:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background: #ff8252;
}

/* == */

.calendar-container * {
  border-radius: 50px;
  border: 0;
}

.react-calendar__tile--hasActive,
.react-calendar__tile--active {
  background: #ff8252;
  color: #fff;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #ff8252 !important;
}

.react-calendar__tile:enabled:hover abbr,
.react-calendar__tile:enabled:focus abbr {
  color: #fff;
}

/* == */

.ratings-statistic {
  height: 200px;
  width: 22px;
  display: flex;
  justify-content: center;
  position: relative;
}

.ratings-statistic:hover {
  opacity: 0.9;
}

.ratings-statistic .bar {
  display: flex;
  position: absolute;
  background-color: #ff8252;
  height: 100%;
  width: 18px;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  z-index: 2;
}

.ratings-statistic .box {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 62px;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0 0 0 1px orangered;
  border-radius: 50px;
  font-size: 13px;
  cursor: pointer;
}

.ratings-star-container {
  height: 200px;
}

@media only screen and (max-width: 991px) {
  .ratings-star-container {
    height: unset;
    width: 90%;
    margin-left: auto;
  }

  .ratings-statistic {
    height: 22px;
    width: 100%;
  }

  .ratings-statistic .bar {
    height: 18px;
    width: 100%;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
  }

  .ratings-statistic .box {
    top: -11%;
  }
}
