body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* == */

.im-text-primary {
  color: #ff8252;
}

button {
  transition: all 0.3s ease;
}

a:hover,
button:hover {
  transform: scale(0.97);
  opacity: 0.8;
  transition: all 0.3s ease;
  color: #ff835298 !important;
  text-decoration: none !important;
}

.btn-primary-1 {
  color: #00af9c;
  background-color: #e1f2f1;
}

.btn-two {
  background-color: rgba(255, 130, 82, 0.1);
  border: 2px solid #ff8252;
  color: #ff8252;
}

.btn-three {
  background-color: #ff8252;
  border: 2px solid #ff8252;
  color: #fff;
}

.btn-three:hover {
  color: #fff !important;
}

.btn-white {
  background-color: #fff;
}

.bg-light {
  background-color: #fafafa;
}

.custom-size-one {
  height: 50px;
  width: 120px;
}

/* sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 90%;
  background-color: #fff;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1);
  border-top-right-radius: 2.1rem !important;
}

.btn-sidebar__text,
.btn-sidebar svg {
  color: #b8b9bb;
}

.btn-sidebar:hover .btn-sidebar__text,
.btn-sidebar.active .btn-sidebar__text {
  font-weight: bold;
  color: #000;
}

.btn-sidebar:hover svg,
.btn-sidebar.active svg {
  color: #ff8252;
}

.btn-sidebar:hover::after,
.btn-sidebar.active::after {
  width: 4.5px;
  transition: all 0.3s ease;
}

.btn-sidebar::after {
  content: '';
  background-color: #ff8252;
  width: 0;
  height: 32px;
  border-top-left-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
  margin: 0 0 0 auto;
  transition: all 0.3s ease;
}

/* footer-bar */

.footer-bar {
  background-color: #fff;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1);
  border-top-right-radius: 1.5rem !important;
  border-top-left-radius: 1.5rem !important;
}

.btn-footer-bar {
  color: #b8b9bb;
}

.btn-footer-bar.active,
.btn-footer-bar:hover {
  color: #ff8252;
}

.rounded-xl {
  border-radius: 1rem !important;
}

.object-cover {
  object-fit: cover;
  object-position: center;
}

@media only screen and (max-width: 770px) {
}
